# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "26c20d89cbf54c584dd0ce7109abb831"
name = "invoice-1"
application_url = "https://b2d6rmict3.execute-api.us-east-1.amazonaws.com"
embedded = true

[build]
automatically_update_urls_on_dev = false

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "orders/create" ]
  uri = "/webhooks/orders/create"

  [[webhooks.subscriptions]]
  topics = [ "orders/cancelled" ]
  uri = "/webhooks/orders/cancelled"

  [[webhooks.subscriptions]]
  topics = [ "orders/updated" ]
  uri = "/webhooks/orders/updated"

  [[webhooks.subscriptions]]
  topics = [ "products/update" ]
  uri = "/webhooks/products/update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,read_customers,read_products"
# Required for token exchange authentication strategy (unstable_newEmbeddedAuthStrategy)
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://b2d6rmict3.execute-api.us-east-1.amazonaws.com/auth/callback",
  "https://b2d6rmict3.execute-api.us-east-1.amazonaws.com/auth/shopify/callback",
  "https://b2d6rmict3.execute-api.us-east-1.amazonaws.com/api/auth"
]
